.container {
  text-align: center;
  width: 60%;
  margin:auto;
}

textarea {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 300px;
  height: 80px;
  background: #ffffff;
  padding: 10px;
  border:1px solid black;
  border-radius: 3px;
}

.word-count {
  font-family:'Times New Roman', Times, serif;
  font-weight:lighter;
  margin-right: 231px;

}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  text-align-last: center;
  font-weight: bold;
}
